/*=============================================================================
    Discord Character Overlay
    name.css
    Version : 0.4.0
=============================================================================*/

/*==========================================================
    Name Base
==========================================================*/

img[class*="Voice_avatar_"] + div span{

    position:absolute;

    left:50%;

    transform:translateX(-50%);

    white-space:nowrap;

    font-family:var(--dco-name-font);

    font-size:var(--dco-name-size);

    font-weight:var(--dco-name-weight);

    color:var(--dco-name-color);

    text-shadow:
        2px 2px 4px var(--dco-name-shadow);

    -webkit-text-stroke:
        2px var(--dco-name-outline);

    z-index:100;

    pointer-events:none;

}

/*==========================================================
    Odd Player
==========================================================*/

li[class*="Voice_voiceState_"]:nth-child(odd)
img + div span{

    bottom:
        calc(
            var(--dco-character-height)
            + var(--dco-name-offset-top)
        );

}

/*==========================================================
    Even Player
==========================================================*/

li[class*="Voice_voiceState_"]:nth-child(even)
img + div span{

    bottom:
        calc(
            var(--dco-character-height)
            + var(--dco-name-offset-bottom)
        );

}