/*=============================================================================
    Discord Character Overlay
    players.css
    Version : 0.2.5

    このファイルは Generator により自動生成されます。
    手動編集は推奨しません。

    GitHub
    https://github.com/yun-gaming/discord-character-overlay
=============================================================================*/


/*=============================================================================
    Player 01
=============================================================================*/

img[src*="359978773740912641"] + div{

    /* Character */

    --dco-character-image:url("https://raw.githubusercontent.com/yun-gaming/discord-character-overlay/master/images/Feign/blue.png");

    /* Position */

    --dco-character-scale:1;

    --dco-character-offset-x:0px;

    --dco-character-offset-y:0px;

    /* Mirror */

    --dco-character-flip:1;

}


/*=============================================================================
    Player 02
=============================================================================*/

img[src*="359978773740912641"] + div{

    --dco-character-image:url("https://raw.githubusercontent.com/yun-gaming/discord-character-overlay/master/images/Feign/red.png");

    --dco-character-scale:1;

    --dco-character-offset-x:0px;

    --dco-character-offset-y:0px;

    --dco-character-flip:1;

}