/*=============================================================================
    Discord Character Overlay
    mute.css
    Version : 1.0.0
=============================================================================*/


/*==========================================================
    Transition
==========================================================*/

img[class*="Voice_avatar_"] + div::before,
img[class*="Voice_avatar_"] + div::after{

    transition:
        transform var(--talk-speed) ease,
        filter var(--dco-state-transition) ease,
        opacity var(--dco-state-transition) ease;

}


/*==========================================================
    Muted
==========================================================*/

li[class*="Voice_voiceState_"][class*="muted"]
img[class*="Voice_avatar_"] + div::before,

li[class*="Voice_voiceState_"][class*="muted"]
img[class*="Voice_avatar_"] + div::after{

    opacity:var(--dco-muted-opacity);

    filter:
        saturate(var(--dco-muted-saturate))
        var(--dco-shadow);

}


/*==========================================================
    Deafen
==========================================================*/

li[class*="Voice_voiceState_"][class*="deafen"]
img[class*="Voice_avatar_"] + div::before,

li[class*="Voice_voiceState_"][class*="deafen"]
img[class*="Voice_avatar_"] + div::after{

    opacity:var(--dco-deafen-opacity);

    filter:
        saturate(var(--dco-deafen-saturate))
        var(--dco-shadow);

}