/*=============================================================================
    Discord Character Overlay
    mute.css
    Version : 0.5.0
=============================================================================*/

/*==========================================================
    Transition
==========================================================*/

img[class*="Voice_avatar_"] + div::before,
img[class*="Voice_avatar_"] + div::after{

    transition:
        opacity var(--dco-state-transition),
        filter var(--dco-state-transition);

}

/*==========================================================
    Muted
==========================================================*/

li[class*="Voice_voiceState_"][class*="muted"]
img + div::before,

li[class*="Voice_voiceState_"][class*="muted"]
img + div::after{

    opacity:var(--dco-muted-opacity);

    filter:saturate(var(--dco-muted-saturate));

}

/*==========================================================
    Deafen
==========================================================*/

li[class*="Voice_voiceState_"][class*="deafen"]
img + div::before,

li[class*="Voice_voiceState_"][class*="deafen"]
img + div::after{

    opacity:var(--dco-deafen-opacity);

    filter:saturate(var(--dco-deafen-saturate));

}