/*=============================================================================
    Discord Character Overlay
    name.css
    Version : 1.0.0
=============================================================================*/


/*=========================================================================
    Username
=========================================================================*/

.voice_state .voice_username {

    display:block !important;

    visibility:visible !important;

    opacity:1 !important;

    position:absolute !important;

    left:50% !important;

    bottom:
        var(--name-offset-bottom) !important;

    transform:
        translateX(-50%) !important;

    width:max-content !important;

    height:auto !important;

    min-width:0 !important;

    padding:0 !important;

    margin:0 !important;

    color:
        var(--name-color) !important;

    background:
        transparent !important;

    font-family:
        var(--name-font) !important;

    font-size:
        var(--name-size) !important;

    font-weight:
        var(--name-weight) !important;

    line-height:1.2 !important;

    white-space:nowrap !important;

    text-shadow:
        2px 2px 4px var(--dco-name-shadow) !important;

    -webkit-text-stroke:
        var(--name-outline-size)
        var(--name-outline);

    z-index:100 !important;

    pointer-events:none !important;

}