/*=============================================================================
    Discord Character Overlay
    name.css
    Version : 1.0.0
=============================================================================*/


/*=========================================================================
    Username
=========================================================================*/

.voice_username {

    position:absolute;

    left:50%;

    bottom:
        calc(
            var(--character-height)
            + var(--name-offset-top)
        );

    transform:
        translateX(-50%);

    white-space:nowrap;

    font-family:
        var(--name-font);

    font-size:
        var(--name-size);

    font-weight:
        var(--name-weight);

    color:
        var(--name-color);

    text-shadow:
        2px 2px 4px var(--dco-name-shadow);

    -webkit-text-stroke:
        var(--name-outline-size)
        var(--name-outline);

    z-index:100;

    pointer-events:none;

}