/*=============================================================================
    Discord Character Overlay
    players.css
    Version : 1.0.0

    このファイルは Generator により自動生成されます。
    手動編集は推奨しません。

    GitHub
    https://github.com/yun-gaming/discord-character-overlay
=============================================================================*/


/*=============================================================================
    Player 01
=============================================================================*/

.voice_state[data-userid="DiscordID"]{

    /* Character */

    --dco-character-image:url(
        "https://raw.githubusercontent.com/yun-gaming/discord-character-overlay/main/images/Feign/characters/blue.png"
    );

    /* Position */

    --dco-character-scale:1;

    --dco-character-offset-x:0px;

    --dco-character-offset-y:0px;

    /* Mirror */

    --dco-character-flip:1;

}