/*=============================================================================
    Discord Character Overlay
    animation.css
    Version : 0.3.0
=============================================================================*/


/*=========================================================================
    Character Animation
=========================================================================*/

img[class*="Voice_avatar_"] + div::before{

    transition:
        transform var(--talk-speed) ease,
        filter var(--talk-speed) ease,
        opacity var(--talk-speed) ease;

}


/*=========================================================================
    Speaking
=========================================================================*/

img[class*="Voice_avatarSpeaking_"] + div::before{

    transform:

        translateX(-50%)

        translateX(var(--dco-character-offset-x))

        translateY(calc(var(--dco-character-offset-y) + var(--talk-y)))

        scaleX(var(--dco-character-flip))

        scale(calc(var(--dco-character-scale) * var(--talk-scale)));

    filter:

        brightness(1.08)

        drop-shadow(0 8px 12px rgba(0,0,0,.25));

}


/*=========================================================================
    Idle
=========================================================================*/

img:not([class*="Voice_avatarSpeaking_"]) + div::before{

    filter:

        brightness(1);

}