/*=============================================================================
    Discord Character Overlay
    layout.css
=============================================================================*/


/*==========================================================
    Voice Container
==========================================================*/

ul[class*="Voice_voiceStates_"]{

    position:relative;

    width:var(--overlay-width);
    height:var(--overlay-height);

    display:flex;

    justify-content:center;

    align-items:flex-end;

    gap:var(--character-gap);

    padding:0 var(--dco-layout-padding);

    margin:0;

    box-sizing:border-box;

    overflow:hidden;

}

/*==========================================================
    Player
==========================================================*/

li[class*="Voice_voiceState_"]{

    position:relative;

    display:flex;

    justify-content:center;

    align-items:flex-end;

    flex:1 1 auto;

    min-width:var(--character-min-width);

    max-width:var(--character-max-width);

    height:100%;

    list-style:none;

}


/* Discord Avatar 非表示 */

img[class*="Voice_avatar_"]{

    display:none;

}


/* Discordデフォルト装飾非表示 */

img[class*="Voice_avatar_"] + div{

    position:relative;

    width:100%;

    height:100%;

}