/*=============================================================================
    Discord Character Overlay
    theme.css
    Version : 1.0.0
=============================================================================*/


/*==========================================================
    Default Theme
==========================================================*/

:root{

    /* Name */

    --name-color:#ffffff;

    --name-outline:#000000;


    /* Character */

    --dco-character-scale:1;


    /* Animation */

    --talk-scale:1.08;

    --talk-y:-10px;

    --talk-speed:160ms;


    /* Shadow */

    --dco-shadow:
        drop-shadow(0 4px 8px rgba(0,0,0,.35));

}